*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

table, tr, th, td{
    border: 2px solid black;
}

#searchContainer{
    position: relative;
    display: inline-block;
    border: 2px solid turquoise;
}
#dropDown{
    background-color: blue;
    position:absolute;
    z-index: 1;
}
#dropDown a{
    display: block;
}